nav h1{
    margin: 0;
}
nav a{
    color: #ffff;
    text-decoration: none;
    background: #36cca2;
    padding: 10px;
    border-radius: 10px;
}
form{
    max-width: 500px;
}
input, textarea{
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 10%;
    border: 1px solid #ddd;
    font-family: 'Roboto';
}
textarea{
    min-height: 200px;
}