@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: #eee;
    font-family: 'Roboto';
    color: #444;
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav h1{
    margin: 0;
}
nav a {
    color: #ffff;
    text-decoration: none;
    background: #36cca2;
    padding: 10px;
    border-radius: 10px;
}
form {
    max-width: 500px;
}
input, textarea{
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-family: 'Roboto';
}
textarea{
    min-height: 200px;
}